$heavy_blue: #004280;
$light_blue: #70BAFF;
$white: rgba(229, 243, 255, 0.82);
$orange: #E57300;
$pink: #D9A6C8;

.heavy_blue {
    color: $heavy_blue;
}
.light_blue {
    color: $light_blue;
}
.white {
    color: $white;
}
.orange {
    color: $orange;
}
.pink {
    color: $pink;
}

@font-face {
    font-family: 'Kunkun Bold';
    src: url('../fonts/KunKun-Bold.ttf') format('truetype');
    src: url("../fonts/KunKun-Bold.woff") format("woff");
    src: url("../fonts/KunKun-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'Kunkun Regular';
    src: url('../fonts/KunKun-Regular.ttf') format('truetype');
    src: url("../fonts/KunKun-Regular.woff") format("woff");
    src: url("../fonts/KunKun-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Apertura Regular';
    src: url('../fonts/Apertura-Regular.otf') format('opentype');
}

.main-title {
    font-family: 'Kunkun Bold';
    @include respond-to(mobile) {
        font-size: ptr(25, mobile);
    }
    @include respond-to(tablet) {
        font-size: ptr(40, tablet);
    }
    @include respond-to(desktop-medium) {
        font-size: ptr(60, desktop-large);
    }
}

.secondary-title {
    font-family: 'Kunkun Regular';
    @include respond-to(mobile) {
        font-size: ptr(20, mobile);
    }
    @include respond-to(tablet) {
        font-size: ptr(30, tablet);
    }
    @include respond-to(desktop-medium) {
        font-size: ptr(40, desktop-large);
    }
}

.third-title {
    font-family: 'Kunkun Regular';
    @include respond-to(mobile) {
        font-size: ptr(15, mobile);
    }
    @include respond-to(tablet) {
        font-size: ptr(20, tablet);
    }
    @include respond-to(desktop-medium) {
        font-size: ptr(30, desktop-large);
    }
}

.main-parag {
    font-family: 'Apertura Regular';
    line-height: 150%;
    @include respond-to(mobile) {
        font-size: ptr(16, mobile);
    }
    @include respond-to(tablet) {
        font-size: ptr(18, tablet);
    }
    @include respond-to(desktop-medium) {
        font-size: ptr(24, desktop-large);
    }
}

.secondary-parag {
    font-family: 'Apertura Regular';
    @include respond-to(mobile) {
        font-size: ptr(14, mobile);
    }
    @include respond-to(tablet) {
        font-size: ptr(16, tablet);
    }
    @include respond-to(desktop-medium) {
        font-size: ptr(20, desktop-large);
    }
}

$side_margin_desktop: 100;
$side_margin_mobile: 25;

.side_margin {
    @include respond-to(mobile) {
        margin-left: ptr($side_margin_mobile, mobile);
        margin-right: ptr($side_margin_mobile, mobile);
    }
    @include respond-to(tablet) {
        margin-left: ptr($side_margin_mobile, tablet);
        margin-right: ptr($side_margin_mobile, tablet)
    }
    @include respond-to(desktop-large) {
        margin-left: ptr($side_margin_desktop, desktop-large);
        margin-right: ptr($side_margin_desktop, desktop-large);
    }
}