$heavy_blue: #004280;
$light_blue: #70BAFF;
$white: #E5F3FF;
$orange: #E57300;
$pink: #D9A6C8;

@font-face {
    font-family: 'Kunkun Regular';
    src: url('../fonts/KunKun-Bold.ttf') format('truetype');
    src: url("../fonts/KunKun-Bold.woff") format("woff");
    src: url("../fonts/KunKun-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'Kunkun Bold';
    src: url('../fonts/KunKun-Regular.ttf') format('truetype');
    src: url("../fonts/KunKun-Regular.woff") format("woff");
    src: url("../fonts/KunKun-Regular.woff2") format("woff2");
}
