.section-7 {
  @include respond-to(mobile) {
    margin-top: ptr(250, mobile);
    margin-left: ptr($side_margin_mobile, mobile);
    margin-right: ptr($side_margin_mobile, mobile);
  }
  @include respond-to(tablet) {
    margin-top: ptr(250, tablet);
    margin-left: ptr($side_margin_mobile, tablet);
    margin-right: ptr($side_margin_mobile, tablet);
  }
  @include respond-to(desktop-medium) {
    margin-top: ptr(200, desktop-large);
    margin-left: ptr($side_margin_desktop, desktop-large);
    margin-right: ptr($side_margin_desktop, desktop-large);
  }
  h2 {
    text-align: center;
  }

  .cards-c {
    width: 100%;
    display: flex;
    margin-top: 30px;

    @include respond-to(mobile) {
      flex-direction: column;
      gap: 20px;
    }
    @include respond-to(tablet) {
      flex-direction: column;
      gap: 20px;
    }
    @include respond-to(desktop-medium) {
      flex-direction: row;
      justify-content: space-between;
    }

    article {
      position: relative;
      cursor: pointer;
      transition: .3s ease-in-out;
      overflow: hidden;
      border-radius: 20px;
      @include respond-to(mobile) {
        width: 100%;
        height: ptr(300, mobile);
      }
      @include respond-to(tablet) {
        width: 100%;
        height: ptr(300, tablet);
      }
      @include respond-to(desktop-medium) {
        width: ptr(300, desktop-medium);
        height: ptr(390, desktop-medium);

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
        border-radius: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: .2s ease-in-out;
        object-fit: cover;
      }

      .wrapper {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        display: flex;
        z-index: 2;
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
      }
    }
  }

  .offers-c {
    padding-top: 100px;

    .offer {
      display: none;
      > h3 {
        text-align: center;
      }
      .top {
        display: flex;
        align-items: center;
        margin-top: 50px;

        img {
          object-fit: cover;
          border-radius: 20px;
          @include respond-to(mobile) {
            width: 100%;
            height: ptr(330, mobile);
          }
          @include respond-to(tablet) {
            width: 100%;
            height: ptr(330, tablet);
          }
          @include respond-to(desktop-medium) {
            min-width: ptr(400, desktop-medium);
            height: ptr(400, desktop-medium);
            border-radius: 20px;
          }
        }

        @include respond-to(mobile) {
          flex-direction: column;
          gap: 20px;
        }
        @include respond-to(tablet) {
          flex-direction: column;
          gap: 20px;
        }
        @include respond-to(desktop-medium) {
          flex-direction: row;
          gap: 200px;
        }
      }
      .carousel-wrapper {
        overflow-x: hidden;
        > .container {
          animation: scroll 20s infinite linear;
          display: flex;
          @include respond-to(mobile) {
            margin-top: ptr(40, mobile);
            gap: ptr(75, mobile);
          }
          @include respond-to(tablet) {
            margin-top: ptr(40, tablet);
            gap: ptr(50, tablet);
          }
          @include respond-to(desktop-medium) {
            margin-top: ptr(50, desktop-large);
            gap: ptr(100, desktop-large);
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
        .carousel-item {
          display: flex;
          transition: 300ms all linear;
          @include respond-to(mobile) {
            flex-direction: column;
            gap: ptr(20, mobile);
          }
          @include respond-to(tablet) {
            gap: ptr(20, tablet);
          }
          @include respond-to(desktop-medium) {
            gap: ptr(45, desktop-large);
            flex-direction: row;
            align-items: center;
            object-fit: cover;
          }
          img {
            object-fit: cover;
            border-radius: 300px;
            @include respond-to(mobile) {
              width: ptr(150, mobile);
              height: ptr(150, mobile);
            }
            @include respond-to(tablet) {
              width: ptr(150, tablet);
              height: ptr(150, tablet);
            }
            @include respond-to(desktop-medium) {
              width: ptr(150, desktop-large);
              height: ptr(150, desktop-large);
            }
          }
          .right {
            @include respond-to(desktop-medium) {
              width: ptr(450, desktop-large);
            }
            h3 {
              @include respond-to(mobile) {
                margin-bottom: ptr(20, mobile);
              }
              @include respond-to(tablet) {
                margin-bottom: ptr(20, tablet);
              }
              @include respond-to(desktop-medium) {
                margin-bottom: ptr(15, desktop-medium);
              }
            }
          }
        }
      }
      .bottom {
        margin-top: 100px;
        .anchors-c {
          display: flex;
          justify-content: space-between;
          width: 100%;

          li {
            @media (max-width: 1024px) {
              padding: 5px 15px;
              background-color: rgba(red($orange), green($orange), red($orange), 0.15);
              border-radius: 100px;
              font-size: 14px;
            }
            cursor: pointer;
          }
          li.active {
            text-decoration: underline;
          }
        }
        .wrapper {
          display: none;
          justify-content: space-between;
          width: 100%;
          position: relative;
          margin-top: 50px;
          align-items: center;

          @include respond-to(mobile) {
            flex-direction: column;
            gap: 20px;
          }
          @include respond-to(tablet) {
            flex-direction: column;
            gap: 20px;
          }
          @include respond-to(desktop-medium) {
            flex-direction: row;
            gap: 200px;
          }

          .left {
            display: flex;
            flex-direction: column;
            gap: 50px;
            @include respond-to(mobile) {
              width: 100%;
            }
            @include respond-to(tablet) {
              width: 100%;
            }
            @include respond-to(desktop-medium) {
              width: ptr(400, desktop-medium);
            }

            .container {
              display: flex;
              flex-direction: column;

              @include respond-to(mobile) {
                gap: 20px;
              }
              @include respond-to(tablet) {
                gap: 20px;
              }
              @include respond-to(desktop-medium) {
                gap: 30px;
              }

              .item {
                margin-left: 25px;
                padding-left: 25px;
                position: relative;
                line-height: 150%;

              &:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  width: 3px;
                  top: 50%;
                  transform: translateY(-50%);
                  border-radius: 100px;
                  height: 75%;
                  background-color: $pink;
                }

                span {
                  color: $orange;
                }
              }
            }
          }

          .right {
            img {
              border-radius: 20px;
              object-fit: cover;
              @include respond-to(mobile) {
                width: 100%;
                height: ptr(300, mobile);
              }
              @include respond-to(tablet) {
                width: 100%;
                height: ptr(300, tablet);
              }
              @include respond-to(desktop-medium) {
                width: ptr(400, desktop-medium);
                height: ptr(400, desktop-medium);
              }
            }
          }

          .floating {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 45%;
            transform: translateX(-50%);

            svg {
              width: 110%;
              height: 110%;
              position: absolute;
            }

            @include respond-to(mobile) {
              width: 100%;
              bottom: -5%;
              height: ptr(145, mobile);
            }
            @include respond-to(tablet) {
              width: 100%;
              bottom: -5%;
              height: ptr(145, tablet);
            }
          @include respond-to(desktop-medium) {
              width: ptr(345, desktop-medium);
              height: ptr(145, desktop-medium);
              bottom: -20%;
            }

            p {
              width: 80%;
              line-height: 130%;
              opacity: 85%;
            }
          }
        }
        .wrapper.active {
          display: flex;
        }
      }
    }
    .offer.active {
      display: block;
    }
  }
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%)}
}