.section-3 {
  @include respond-to(mobile) {
    margin-top: ptr(70, mobile);
    margin-left: ptr($side_margin_mobile, mobile);
    margin-right: ptr($side_margin_mobile, mobile);
  }
  @include respond-to(tablet) {
    margin-top: ptr(70, tablet);
    margin-left: ptr($side_margin_mobile, tablet);
    margin-right: ptr($side_margin_mobile, tablet);
  }
    @include respond-to(desktop-medium) {
        margin-top: ptr(100, desktop-large);
        margin-left: ptr($side_margin_desktop, desktop-large);
        margin-right: ptr($side_margin_desktop, desktop-large);
    }
}